body {
    font-family: 'Montserrat', sans-serif;
    background-color: #DEDFE1;
}

header {
    height: 100px;
    max-width: 100%;
    background: #BCA5A7;
    display: flex;
    justify-content: space-around;
}

.logo {
    max-width: 100%;
       
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    
}

ul li a {
    padding: 0 20px;
    text-decoration: none;
    color: #6A6B6D;
    display: inline-block;
    
}

li a::after{
    content:' ';
    display: block;
    height: 4px;
    width: 0;
    background: #DEDFE1;
    transition: all .5s;
}

li a:hover::after {
    width: 100%;
}

.title {
    display: flex;
    margin-top: 70px;
}

.title .left-side {
    width: 50%;
    background-color: #BCA5A7;
    display: flex;
    justify-content: flex-end;
    padding: 20px 120px 0px 0px;
    letter-spacing: 3px;
}

.title .right-side {
    width: 50%;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
}

.title .right-side p {
    width: 500px;
    letter-spacing: 1px;
    line-height: 30px;
}

.title .right-side p span {
    font-size: 600;
}

.container {
    display: flex;
}

.container .left-side {
    width: 50%;
    background: #BCA5A7;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    padding: 0px 126px 0px 0px;
    height: 530px;
}

.container .left-side .item {
    margin-bottom: 65px;
}

.container .left-side .item .h3 {
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.container .left-side > a{
    border-bottom: 1px dotted #6A6B6D;
    font-size: 18px;

}

.container .left-side .item span {
    font-size: 18px;
}

.container .right-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .right-side .top {
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.container .right-side .top input {
    width: 45%;
    font-size: 20px;
    padding: 10px;
    border: 2px solid #6A6B6D;
    outline-color: #6A6B6D;
    border-radius: 5px;

}

.container .right-side textarea {
    width: 100%;
    font-size: 20px;
    height: 300px;
    padding: 10px;
    border: 2px solid #6A6B6D;
    outline-color: #6A6B6D;
    border-radius: 5px;
    margin-bottom: 30px;
    resize: none;

}

.container .right-side button  {
    background-color: #997A7F;
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer; 

}

footer {
    max-width: 100%;
    background: #BCA5A7;
    display: flex;
    justify-content: center;
    
}

.copyright {
    font-family: 'Montserrat', sans-serif;
    text-transform: lowercase;
    color: #6A6B6D;    

}

/*

@media (max-widht: 1200px){
    .title{
        flex-direction: column;
    }
    .title .left-side{
        width: 100%;
        justify-content: flex-start;
        padding: 40px 0px 40px 0px;    
    }
    .title .right-side{
        width: 100%;
        padding: 50px 0px 30px 0px;
    }
    .title .right-side p{
        width: 90%;
    }
    .container .right-side{
        width: 100%;
    }
    .container .right-side form{
        width: 90%;
    }
    .container .right-side .top{
        width: 100%;
    }
    .container .right-side .top .input{
        width: 49%;
    }
    .container .left-side{
        width: 90%;
        text-align: left;
        align-items: flex-start;
        margin: auto;
        padding: 60px 0px 0px 0px;
        background: none;
    }
    .container .left-side .item{
        margin-bottom: 50px;        
    }

}


    @media (max-widht: 520px){
        .container .right-side .top{
            flex-direction: column;
            height: 110px;
            margin-bottom: 10px;
        }
        .container .right-side .top .input{
            width: 100%;
        }
        .container .right-side textarea{
            margin-bottom: 10px;
        }
    }

}
*/
