{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #3F4344;
}

.title {
    display: flex;
}

.title .left-side {
    width: 50%;
    background-color: #928484;
    display: flex;
    justify-content: flex-end;
    padding: 20px 120px 0px 0px;
    letter-spacing: 3px;
}

.title .right-side {
    width: 50%;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
}

.title .right-side p {
    width: 500px;
    letter-spacing: 1px;
    line-height: 30px;
}

.title .right-side p span {
    font-size: 600;
}


